@page 
@model BlogWebApp.Pages.post.UpsertModel
@{
}

<form method="post" enctype="multipart/form-data">
    <input asp-for="Post.Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                  <h2 class="text-primary">@((Model.Post != null && Model.Post.Id != 0) ? "Update" : "Create" ) </h2>

                    <hr />
                </div>
            </div>
        </div>
        <div class="mb-3">
			<label asp-for="Post.Title"></label>
			<input asp-for="Post.Title" class="form-control" />
			<span asp-validation-for="Post.Title" class="text-danger"></span>
			<label asp-for="Post.Body"></label>
			<textarea asp-for="Post.Body" rows="3" class="form-control"></textarea>
			<input asp-for="Post.CreationTime" value="@DateTime.Now" type="hidden" class="form-control" />
			<span asp-validation-for="Post.Body" class="text-danger"></span>

			
			<div class="mb-3">
				<label asp-for="Post.ImageUrl"></label>
				<input type="file" id="uploadBox" name="file" class="form-control" />
			</div>

            <div class="col-12">
				@if (Model.Post != null && Model.Post.Id != 0)
				{
					<img src="@Model.Post.ImageUrl" width="100" />
					<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
				}
				else
				{
					<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
				}
				<a asp-page="/post/Index" class="btn btn-secondary" style="width:150px">
					Back to List
				</a>
			</div>
		</div>
    </div>
</form>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
   });
  
	function ValidateInput(){
		if(document.getElementById("uploadBox").value==""){
			Swal.fire({
			  icon: 'error',
			  title: 'Oops...',
			  text: 'Please upload an Image!',
			});
			return false;
		}
		return true;
	}
</script>
}
